@charset "UTF-8";
/*header*/
header{
	width: 100%;
	background: #222;
}
.headerDiv{
	position: relative;
	height: 140px;
	width: 1600px;
	margin: 0 auto;
}
.headerDiv a{
	display: block;
	color: #fff;
}
h1{
	position: absolute;
	top: 50%;
	left: 0;
    width: 200px;
  	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	z-index: 100;
}
h1 img{
	vertical-align: top;
	width: 100%;
}
.hdtopDiv{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 60px;
}
.tophd{
	float: right;
	height: 40px;
	line-height: 40px;
	margin: 10px 0;
}
.tophd li{
	float: left;
}
.tophd li a{
	display: block;
	padding: 0px 10px;
	box-sizing: border-box;
	font-size: 14px;
	border-radius: 5px;
	margin-right: 10px;
}
.tophd li:last-child a{
	border-right: none;
}
.tophd li a:hover{
	background: #a81049;
}
.gnb{
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
	height: 80px;
	margin: 0 10px;
	z-index: 100;
}
.gnb > ul > li{
	float: left;
	position: relative;
	min-width: 180px;
	transition: all 0.6s;
}
.gnb > ul > li > a{
	padding: 15px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}
.gnb li a:hover{
	background: #a81049;
}
.gnb li a span{
	font-size: 12px;
	display: block;
	opacity: 0.6;
	padding: 2px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}
.gnb li ul{
	min-width: 100%;
	position: absolute;
	background: #222;
	display: none;
}
.gnb > ul > li > ul li a{
	padding: 10px 0;
	font-size: 16px;
	opacity: 0.4;
	transition: all 0.6s;
}
.gnb > ul > li > ul li a:hover{
	opacity: 1;
}

/*footer*/
footer{
    text-align: center;
    width: 100%;
    background: #363636;
    color: #7e7976;
    padding: 50px 0;
}
.footerDiv{
    display: block;
    max-width: 900px;
    margin: 0 auto;
	padding: 0 10px;
}
.footerDiv .moveup{
    opacity: 0.5;
    transition: 0.4s;
    width: 100px;
    display: block;
    margin: 0 auto;
}
.footerDiv .moveup:hover{
    opacity: 1;
}
.footerDiv .moveup .movebg{
    display: inline-block;
    background: url(../img/common/icon_up.png) no-repeat 50% 50%;
    background-size: contain;
    width: 100%;
    height: 25px;
}
.footerDiv .moveup p{
    display: block;
    padding-top: 5px;
    color: #fff;
}
.footerDiv a{
    color: #7e7976;
}
.snsWrap{
    padding: 30px 0;
}
.snsWrap .snsDiv{
    display: inline-block;
}
.snsWrap .snsDiv li{
    float: left;
}
.snsWrap .snsDiv li a{
    display: block;
    width: 55px;
    height: 55px;
}
.snsWrap .snsDiv li a.facebook{
    background: url(../img/common/quick_facebook.gif) no-repeat 50% 50%;
}
.snsWrap .snsDiv li a.insta{
    background: url(../img/common/quick_insta.gif) no-repeat 50% 50%;
}
.snsWrap .snsDiv li a.membership{
    background: url(../img/common/quick_membership.gif) no-repeat 50% 50%;
}
.snsWrap .snsDiv li a.membershipcard{
    background: url(../img/common/quick_membershipcard.gif) no-repeat 50% 50%;
}
.snsWrap .snsDiv li a.place{
    background: url(../img/common/quick_place.gif) no-repeat 50% 50%;
}
.snsWrap .snsDiv li a.onlineshop{
    background: url(../img/common/quick_onlineshop.gif) no-repeat 50% 50%;
}
.snsWrap .snsDiv li a p{
    position: absolute;
    top: 0;
    left: -9999%;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999%;
    overflow: hidden;
}
.sitemapWrap .ft_sitemap li{
    display: inline-block;
}
.sitemapWrap .ft_sitemap li a:after{
    content: "|";
    padding: 10px;
}
.sitemapWrap .ft_sitemap li:last-child a:after{
    content: "";
    padding: 0;
}
.sitemapWrap .ft_sitemap li a{
    display: block;
}
.sitemapWrap .ft_sitemap .yellowimpact{
    color: #ffe674;
}
.footerDiv address{
    padding: 30px 0;
}
.footerDiv address p{
    display: inline;
}
.footerDiv address p:after{
    content: "|";
    padding: 10px;
}
.footerDiv address p:last-child:after{
    content: "";
    padding: 0;
}

