@charset "UTF-8";
/*mainvis---------------------------------------*/
.mainvisDiv{
    background: url(../img/common/notebook-1280538.jpg) no-repeat center center;
    background-size: cover;
}
.mainvisDiv .mainvis{
    display: block;
    width: 740px;
    padding: 50px;
    margin: 0 auto;
}
.mainvisDiv .mainvis img{
    display: block;
    border: 1px solid #a81049;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
}
.mainvisDiv .mainvis .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.mainvisDiv .mainvis .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.mainvisDiv .mainvis .swiper-button-next{
    right: 20px;
}
.mainvisDiv .mainvis .swiper-button-prev{
    left: 20px;
}


/*common----------------------------------------*/
.section h2{
    text-align: center;
    color: #a81049;
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 50px;
}

/*section----------------------------------------*/
.recommendaionDiv{
    text-align: center;
    display: block;
    width: 1020px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.recommendaionDiv .recolist .recoDiv{
    display: block;
    width: 33.33%;
    float: left;
    padding: 20px 40px;
    box-sizing: border-box;
	transition: all 0.2s;
}
.recoDiv .recoimg{
    position: relative;
    width: 100%;
}
.recoDiv .recoimg:after{
    content: "";
    display: block;
    padding-top: 100%;
}
.recoDiv .recoimg .imgdiv{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.recoDiv:nth-child(1) .recoimg .imgdiv{
    background: url(../img/product/1311_big_img.png) no-repeat center center;
    background-size: contain;
    
}
.recoDiv:nth-child(2) .recoimg .imgdiv{
    background: url(../img/product/1488_big_img.png) no-repeat center center;
    background-size: contain;
    
}
.recoDiv:nth-child(3) .recoimg .imgdiv{
    background: url(../img/product/1492_big_img.png) no-repeat center center;
    background-size: contain;
    
}
.recoDiv:nth-child(4) .recoimg .imgdiv{
    background: url(../img/product/1929_big_img.png) no-repeat center center;
    background-size: contain;
    
}
.recoDiv:nth-child(5) .recoimg .imgdiv{
    background: url(../img/product/2133_big_img.png) no-repeat center center;
    background-size: contain;
    
}
.recoDiv:nth-child(6) .recoimg .imgdiv{
    background: url(../img/product/2138_big_img.png) no-repeat center center;
    background-size: contain;
    
}
.recoDiv:nth-child(7) .recoimg .imgdiv{
    background: url(../img/product/2142_big_img.png) no-repeat center center;
    background-size: contain;
    
}
.recoDiv:nth-child(8) .recoimg .imgdiv{
    background: url(../img/product/2143_big_img.png) no-repeat center center;
    background-size: contain;
    
}
.recoDiv:nth-child(9) .recoimg .imgdiv{
    background: url(../img/product/2144_big_img.png) no-repeat center center;
    background-size: contain;
    
}
.recoDiv .recoimg .imgdiv .recotag{
    width: 40%;
    background: #a81049;
    color: #fff;
    display: block;
    top: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
}
.recoDiv .recoinfo{
    display: block;
    padding: 10px 20px;;
}
.recoDiv a{
    display: block;
}
.recoDiv .recoinfo .pdName{
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}
.recoDiv .recoinfo .price{
    color: #a81049;
}

/*brandstoryDiv*/
.brandstoryDiv{
    color: #c2bdbd;
    padding-bottom: 100px;
    background-color: #363636;
}
.brandstoryDiv h2{
    color: #fff;
	transition: all 0.6s;
}
.brandstoryDiv h2 span{
    font-weight: 100;
}
.brandstoryDiv .brandstory{
    display: block;
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}
.brandstoryDiv .youtubeWrap{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: 50px;
}
.brandstoryDiv .youtubeWrap .brandstoryad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

/*noticeDiv*/
.noticeDivWrap{
    width: 100%;
    background: url(../img/common/black-coffee-2847957.jpg) no-repeat center center;
    background-size: cover;
	padding: 20px 0;
}
.noticeDivpadding{
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.noticeDivpadding:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background: #fff;
}
.noticeDiv{
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	margin: 20px;
	text-align: center;
}
.notice{
    border: 1px solid #a81049;
}
.noticeList{
	width: 95%;
	margin: 0 auto;
}
.noticeList li{
	height: 40px;
	line-height: 40px;
}
.noticeList li a{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}
.btn_more{
    display: block;
    width: 20%;
    height: 40px;
    line-height: 40px;
    background: #a81049;
    color: #fff;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.2s;
	margin-bottom: 50px;
}
.btn_more:hover{
	background: #222;
}
